In [1]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
sc = SparkSession.builder.appName('Example')\
     .config('spark.sql.shuffle.partitions', '50')\
     .config('spark.driver.maxResultSize', '5g')\
     .config('spark.sql.execution.arrow.enabled', 'true')\
     .getOrCreate()

In [3]:
dataframe = sc.read.csv('data/bbc-text.csv', header=True)

In [4]:
dataframe.createOrReplaceTempView('bbc_text')

In [5]:
sc.sql('SELECT * FROM bbc_text').show(3)

+--------+--------------------+
|category|                text|
+--------+--------------------+
|    tech|tv future in the ...|
|business|worldcom boss  le...|
|   sport|tigers wary of fa...|
+--------+--------------------+
only showing top 3 rows

In [6]:
dataframe.toPandas()

/home/chamath/anaconda3/envs/tf3/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:87: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 1.0.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [7]:
sc.stop()